.main-box {
    background: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    font-family: -webkit-body;
}
 
img{
    width: 50px;
    border-radius: 70%;
}
div#show-details {
    width: 330px;
    background-color: #1d161657;
    color:white;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    display: none;
    box-shadow: 5px 4px 1px;
}


div#show-details  h3{
    color: rgb(232 235 14)
}
.footer {
    text-align: center;
    background-color: #b0b0b0;
    color: #100d0d;
    padding: 5px;
}